


/*  */
/*  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #030607;
}

html {
  scroll-behavior: smooth;
}

/*  */
/*  */
button, a {
  all: unset;
  cursor: pointer;
}

li { list-style: none; }


/* body {height: ;} */


/* REUSABLE CLASSES */
.transition-300 {
  transition: 300ms ease;
}
.transition-150 {
  transition: 150ms ease;
}

.active-testimenial {
  width: 80px;
  background-color: white;
}


.animate-fade-up { animation: fade-up .5s ease forwards; }
.animate-fade-down { animation: fade-down .5s ease forwards; }
.animate-fade-up2 { animation: fade-up-2 .5s ease forwards; }
.animate-fade-left { animation: fade-left 1s ease forwards; }
.animate-fade-right { animation: fade-right .8s ease forwards; }

.animate-scroll {animation: scroll 30s linear infinite;}
.animate-scroll:hover {animation-play-state: paused;}

@keyframes fade-up {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes fade-up-2 {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-84px);
    opacity: 0;
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(-84px);
    opacity: 0;
  }
  100% {
    transform: translateY(-0px);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translateX(-50%);}
}






.active-filter {
  background-color: green;
  border: 2px solid #030607;
}